
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 33% 96%; /* bone-white */
    --foreground: 10 21% 29%; /* rose-ebony */
    --card: 48 33% 96%; /* bone-white */
    --card-foreground: 10 21% 29%;
    --popover: 37 54% 92%;
    --popover-foreground: 10 21% 29%;
    --primary: 201 28% 43%; /* paynes-gray */
    --primary-foreground: 37 54% 92%; /* old-lace */
    --secondary: 10 21% 29%; /* rose-ebony */
    --secondary-foreground: 37 54% 92%; /* old-lace */
    --muted: 37 54% 86%;
    --muted-foreground: 10 21% 40%;
    --accent: 28 68% 61%; /* persian-orange */
    --accent-foreground: 10 21% 29%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 37 54% 82%;
    --input: 37 54% 82%;
    --ring: 201 28% 43%; /* paynes-gray */
    --chart-1: 201 28% 43%;
    --chart-2: 28 68% 61%;
    --chart-3: 10 21% 29%;
    --chart-4: 201 28% 63%;
    --chart-5: 28 68% 81%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 10 20% 10%;
    --foreground: 37 54% 92%;
    --card: 10 20% 15%;
    --card-foreground: 37 54% 92%;
    --popover: 10 20% 15%;
    --popover-foreground: 37 54% 92%;
    --primary: 201 28% 43%; /* paynes-gray */
    --primary-foreground: 10 20% 98%;
    --secondary: 28 68% 61%; /* persian-orange */
    --secondary-foreground: 10 20% 10%;
    --muted: 10 20% 20%;
    --muted-foreground: 37 54% 80%;
    --accent: 10 21% 29%; /* rose-ebony */
    --accent-foreground: 37 54% 92%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 10 20% 25%;
    --input: 10 20% 25%;
    --ring: 201 28% 43%; /* paynes-gray */
    --chart-1: 201 28% 43%;
    --chart-2: 28 68% 61%;
    --chart-3: 10 21% 29%;
    --chart-4: 201 28% 63%;
    --chart-5: 28 68% 81%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .footerbg{
    background-repeat: repeat-x;
    background-image: url("../img/footer_2.png");
    background-position: left;
    background-size: contain;
  }
  .sectionbg{
    background-repeat: repeat-x;
    background-image: url("../img/fondo_mas_chiquita_osi_osi.png");
    background-position: left;
    background-size: auto 100%;
  }
  .bodybg{
    background-color: transparent;
  }
  .contrastbg{
    background-color: hsl(var(--accent));
  }
  .btnbg{
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
  }
  h1, h2, h3, .font-headline {
    font-family: var(--font-akira), sans-serif;
    color: hsl(var(--foreground));
  }
  p{
    font-family: var(--font-parkinsans), sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: hsl(var(--foreground));
  }

  .btnbg{
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
  }

  #testcarousel{
    overflow:visible;
  }

  
  .animation-delay-2000 {
    animation-delay: 2s;
  }
}
